html{
text-align: center;
}

#BookImg{
border-radius: 50%;
width: 100px;
}

h1{
font-family: Cinzel Decorative, cursive;
}

h2{
font-family: Times New Roman, cursive;
}

#Welcome{
background: linear-gradient(red 40%, orange 100%);
}

#Bio{
background: linear-gradient(greenyellow 40%, skyblue 100%);
font-size: 30px;
}

.line {
    height: 6px;
    width: 70px;
    margin: 8px auto;
}